* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background: #e6eff6;
    height: 100vh;
    display: grid; 
    place-items: center;
    
}

.container {
    width: 600px;
}

.item1 {
    background: white;
    color: rgb(0, 0, 0);
    padding: 20px;
    border: 0px solid;
    height: 180px;
    width: 600px;
    border-radius: 10px 10px 0px 0px;
}

.item2and3 {
    width: 640px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 260px;
}

.item2 {
    background: #2bb3b1;
    border-radius: 0px 0px 0px 10px;
}

.item3 {
    background: #4abebd;
    border-radius: 0px 0px 10px 0px;

}
.community {
    font-size: 25px;
    font-weight: 700;
    color: #2bb3b1;
    margin-left: 15px;
    margin-top: 20px;
}

.day {
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    margin-left: 15px;
    margin-top: 15px;

}
.top-text {
    color: hsl(218, 22%, 67%);
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 30px;
}

.bottom-text {
    color: hsl(218, 22%, 67%);
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;

}
.monthly {
    font-weight: 400;
    color: white;
    font-size: 18px;
    margin-left: 34px;
    margin-top: 35px;

}

.price {
    font-weight: 700;
    color: white;
    font-size: 40px;
    margin-left: 34px;
    margin-top: 15px;
}

.per {
    font-weight: 400;
    color: hsl(204, 43%, 93%);
    margin-left: 120px;
    margin-top: -35px;
    opacity: 80%;
}

.full {
    font-weight: 400;
    color: white;
    margin-left: 35px;
    margin-top: 25px;
}

.sign {
    width: 240px;
    height: 50px;
    background: hsl(71, 73%, 54%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 5px;
}

.signtext {
    color: white;
    font-weight: 400;
}

.ratom {
    font-size: 18px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 34px;
    margin-top: 35px;
}

.tut {
    font-weight: 400;
    color: hsl(204, 43%, 93%);
    margin-top: 20px;
    margin-left: 34px;
    opacity: 80%;

}